
:root {
    --brand-color: #6495ED;
    --gen-padding: 3px;
    --gen-margin: .63rem;
    --gen-bord-rad: 3px;
    --gen-backg-color: rgba(100, 149, 237, 0.2);
}
section {
    margin: var(--gen-margin);
    background-color: var(--gen-backg-color);
    border-radius: var(--gen-bord-rad);
}

.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

.App-header {
  /* background-color: #282c34; */
  /* min-height: 50vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-top: 20px;
}

